{% extends "ssx_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block page_content %}

<div class="container">
    <br><br>
    <div>
        <h1 style="">FAQ</h1>
        <h4>当前套餐 >> <a href="">立即购买</a></h4>
        <hr>
        <ul>
            <li>
                <code>包月套餐</code>: 15元
            </li>
            <li>
                <code>季度套餐</code>: 45元
            </li>
            <li>
                <code>半年套餐</code>: 80元
            </li>
            <li>
                <code>全年套餐</code>: 150元
            </li>
        </ul>
    </div>
    <br>
    <div row>
        <div>
            <h2><img src="" alt=""/>Mac OSX</h2>
            <hr>
            <ul>
                <li><code>如何安装程序</code>: <a href="">点击这里</a></li>
                <li><code>如何更新程序</code>: <a href="">点击这里</a></li>
                <li><code>如何更改端口</code>: <a href="">点击这里</a></li>
                <li><code>直接下载Mac安装包</code>: <a href="">点击这里</a></li>
                <li><code>如何购买套餐或者续费</code>: <a href="">点击这里</a></li>
            </ul>
        </div>
        <br>
        <div>
            <h2><img src="" alt=""/>Windows</h2>
            <hr>
            <ul>
                <li><code>如何安装程序</code>: <a href="">点击这里</a></li>
                <li><code>如何更新程序</code>: <a href="">点击这里</a></li>
                <li><code>如何更改端口</code>: <a href="">点击这里</a></li>
                <li><code>直接下载Mac安装包</code>: <a href="">点击这里</a></li>
                <li><code>如何购买套餐或者续费</code>: <a href="">点击这里</a></li>
            </ul>
        </div>
        <br>
        <div>
            <h2><img src="" alt=""/>iPhone/iPad</h2>
            <hr>
            <ul>
                <li><code>如何安装程序</code>: <a href="">点击这里</a></li>
                <li><code>如何更新程序</code>: <a href="">点击这里</a></li>
                <li><code>如何更改端口</code>: <a href="">点击这里</a></li>
                <li><code>直接下载Mac安装包</code>: <a href="">点击这里</a></li>
                <li><code>如何购买套餐或者续费</code>: <a href="">点击这里</a></li>
            </ul>
        </div>
        <br>
        <div>
            <h2><img src="" alt=""/>Android</h2>
            <hr>
            <ul>
                <li><code>如何安装程序</code>: <a href="">点击这里</a></li>
                <li><code>如何更新程序</code>: <a href="">点击这里</a></li>
                <li><code>如何更改端口</code>: <a href="">点击这里</a></li>
                <li><code>直接下载Mac安装包</code>: <a href="">点击这里</a></li>
                <li><code>如何购买套餐或者续费</code>: <a href="">点击这里</a></li>
            </ul>
        </div>
    </div>
    <br><br>
</div>

{% endblock %}